.box-layout {
  align-items: center;
  background: url('elevator.jpg');
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-layout__box {
  /*background: fade-out(white, .75);*/
  background-color: rgba(255,255,255,0.8);
  border-radius: 25px;
  padding: 15px 15px 15px 15px;
  text-align: center;
  width: 25rem;
}

.app_background {
  background: url('elevator.jpg');
  position:fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin:0;
  overflow-y:scroll;
  overflow-x:hidden;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.modal {
  font-size: 14px;

}

.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 1px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.modal > .actions {
  width: 100%;
  padding: 10px 1px;
  margin: auto;
  text-align: center;
}

.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.divider {
    width:20px;
    height:auto;
    display:inline-block;
}

