td.Study {
  background-color: #42ae33 !important;
  color: white !important;
}

td.Occupation {
  background-color: #5492d5 !important;
  color: white !important;
}

td.Fitness {
  background-color: #e99a2f !important;
  color: white !important;
}

td.Music {
  background-color: #cc9ed1 !important;
  color: white !important;
}

td.Language {
  background-color: #f74f4f !important;
  color: white !important;
}

.MuiAvatar-root.Study {
  background-color: #42ae33 !important;
}

.MuiAvatar-root.Occupation {
  background-color: #5492d5 !important;
}

.MuiAvatar-root.Fitness {
  background-color: #e99a2f !important;
}

.MuiAvatar-root.Music {
  background-color: #cc9ed1 !important;
}

.MuiAvatar-root.Language {
  background-color: #f74f4f !important;
}
