body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.dashboardColumn {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clear floats after the columns */
.dashboardRow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of
  each other instead of next to each other */
@media screen and (max-width: 600px) {
  .dashboardColumn {
    width: 100%;
  }
}
